<section>
  <img
    class="sc-profile-pic"
    (click)="shakeImage()"
    [class.shaking]="isShaking"
    src="../../../../assets/icons/personal/scott-crisp-profile.jpeg"
  />
  <article>
    <h1>Hey, I'm <span class="text-highlight-gradient">Scott</span>!</h1>
    <div class="bio">
      <p>
        I'm a self-taught full-stack software engineer who is passionate about
        creating
      </p>
      <p>
        exceptional user experiences. With expertise in TypeScript, Angular,
        React and Django,
      </p>
      <p>
        I love crafting front-end applications that blend design and technology
        seamlessly.
      </p>
      <p>Let's collaborate and build remarkable web experiences together!</p>
    </div>
  </article>
</section>
