<header>
  <h2>Projects!</h2>
  <p>
    Here are a few of the projects that I have created or contributed to in my
    free time.
  </p>
  <p class="pb-5">
    I hope you enjoy viewing them as much as I enjoyed creating them!
  </p>
</header>
<div class="container">
  <div class="hover-card" *ngFor="let project of projectsList">
    <a href="{{ project.url }}" target="_blank" rel="noreferrer noopener">
      <img src="../../../../assets/thumbnails/{{ project.imgTag }}.jpg" />
      <div class="overlay">
        <h4 style="color: white">{{ project.name }}</h4>
        <ul>
          <li *ngFor="let item of project.tech; let last = last">
            {{ item }}
            <ng-container *ngIf="!last">&nbsp;|&nbsp;</ng-container>
          </li>
        </ul>
        <p>{{ project.description }}</p>
      </div>
    </a>
  </div>
</div>
