section {
  max-width: 60vw;
}

h2 {
  text-align: left;
  font-family: "Exo-Bold";
}

p {
  margin: 0;
  text-align: left;
  // word-wrap: break-word;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // word-wrap: break-word;
}

.card {
  border-radius: 10px !important;
  border: none;
  box-shadow: var(--light-mode-shadow);
  background-color: inherit;
  width: 100%;
  overflow-wrap: break-word;
  // word-wrap: break-word;
}

.card-body {
  word-break: break-word;
}
